 :root{
          --main-radius:px;
          --main-padding: 30px;
      }
      .container{
          display: grid;
          grid-template-rows: 0.1fr 1fr 0.5fr 2fr 2.5fr 2.5fr 1.5fr 0.09fr 0.2fr;
      
          grid-template-areas:
          "nav nav nav nav"
          "home home home home"
          "about about about about"
          "certifications certifications certifications certifications"
          "Experience Experience Experience Experience"
          "project project project project"
          "blog blog blog blog"
          "contact contact contact contact"
          "footer footer footer footer";
         
          
      }
      nav{
          height:5vh;
          background-color: white;
          overflow: hidden;
          grid-area: nav;
          padding: var(--main-padding);
      
      }
      .logo {
         float: left;
         padding: 10px;
         font-size: 25px;
         color: black;
         font-weight: 600;
        }
        nav .menu {
            float: right;
        }
        nav .menu li {
          float: left;
        }
        nav .menu li a {
           display: block;
           color: #ff598d;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
        }
        nav .menu li a:hover {
          background-color: #555;
        }




      #home{
         
        background-color: black;
        height: 100%;
        align-items: center;
        padding: 0 10%;
        grid-area: home;
        padding: var(--main-padding);
      
      }
      .home-c {
        max-width: 600px;
      }
      .home-c h1{
        color:white;
        font-size: 60px;
        font-weight:700;
      }
      .home-c h3{
        font-size: 32px;
        font-weight: 700;
        color:#ff598d;
      }
      .home-c p{
        color:white;
      }
      #mypicture{
        height: 70%;
        width:30%;
        align-items: center;
        position: absolute;
        right: 10%;
      }
      #about{
        background-color: white;
        max-width: auto;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        grid-area: about;
        padding: var(--main-padding);
      }
      #about h1 {
        color:black;
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      
      #about p {
        font-size: 1.1rem;
        color: black;
      }
      #certifications{
           background-color: black;
           color:white;
           max-width: auto;
        height: 100%;
        margin: 0 auto;
        text-align: center;
           grid-area: certifications;
           padding: var(--main-padding);
      }
      #mypicture2{
        height: 30%;
        width:25%;
      }
      #certifications h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      .cert-item {
        margin-bottom: 2rem;
      }
      .cert-item h3 {
        color:#ff598d;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      .cert-item p {
        color: white;
        font-size: 1.125rem;
        
      }
      
      #Experience{
        background-color: white;
           color:white;
           max-width: auto;
        height: 100%;
        margin: 0 auto;
        text-align: center;
          grid-area: Experience;
          padding: var(--main-padding);
      }
      #Experience h2 {
        align-items: center;
        color: black;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      
      .experience-item1 {
        background-color:#355e3b;
        color:white;
        margin-bottom: 2rem;
      }
      
       
      .experience-item1 h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      .experience-item1 h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
      
      .experience-item1 h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color:white;
      }
      
      .experience-item1 p {
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
      }
      
      .experience-item2 {
        color:black;
        margin-bottom: 2rem;
      }
      
      .experience-item2 h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      .experience-item2 h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
      
      .experience-item2 h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color:white;
      }
      
      .experience-item2 p {
        font-size: 1.125rem;
        line-height: 1.5;
        color: black;
      }
      
      .experience-item3 {
        background-color:#D3A121;
        color:white;
        margin-bottom: 2rem;
      }
      
      .experience-item3 h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      .experience-item3 h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
      
      .experience-item3 h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color:white;
      }
      
      .experience-item3 p {
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
      }
      #project{
        background-color: black;
        color:white;
        max-width: auto;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        grid-area: project;
        padding: var(--main-padding);
    }
    #project h2 {
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      
      .project-item1 {
        background-color:#355e3b;
        color:white;
        margin-bottom: 2rem;
      }
      
       
      .project-item1 h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
   
      .project-item1 p {
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
      }
      
      .projecte-item2 {
        color:white;
        margin-bottom: 2rem;
      }
      
      .project-item2 h3 {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      
      
      
      .project-item2 p {
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
      }
      
      .project-item3 {
        background-color:#D3A121;
        color:white;
        margin-bottom: 2rem;
      }
      
      .project-item3 h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      
      .project-item3 p {
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
      }
      #blog {
        background-color: black;
        color:white;
        max-width: auto;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        grid-area: blog;
        padding: var(--main-padding);
      }
      
      #blog h2 {
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      
      .blog-item1 {
        background-color:#355e3b;
        color:white;
        margin-bottom: 2rem;
      }
      
       
      .blog h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      .blog h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
      
      .blog h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color:white;
      }
      
      .blog-item1 p {
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
      }
      
      .blog-item2 {
        color:white;
        margin-bottom: 2rem;
      }
      
      .blog-item2 h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      .blog-item2 h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
      
      .blog-item2 h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color:white;
      }
      
      .blog-item2 p {
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;
      }
      #contact{
        background-color: #c06240;
        color:aliceblue;
     
        text-align: center;
        max-width: 1130px;
        margin:auto;
        grid-area: footer;
        padding: var(--main-padding);
      }
      h1 {
  
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      
      h1 span {
        font-size: 1.5rem;
      }
      
      .contact-info {
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem 0;
      }
      
      .contact-info p {
       
        flex-basis: 30%;
        margin: 0.5rem;
        text-align: left;
      }
      
      .contact-info a {
        color: black;
      }
      
      
     
      footer{
        background-color: #24262b;
        text-align: center;
        grid-area: footer;
        padding: var(--main-padding);
    
    }
       footer h4{
       font-size: 18px;
       color: #ffffff;
       text-transform: capitalize;
       margin-bottom: 35px;
       font-weight: 500;
       position: relative;
       }
       footer li a{
       font-size: 16px;
       text-transform: capitalize;
       color: #ffffff;
       text-align: center;
       font-weight: 300;
       color: #bbbbbb;
       }
       footer .social-links a{
       display: inline-block;
       height: 40px;
       width: 40px;
       background-color: rgba(255,255,255,0.2);
       margin:0 10px 10px 0;
       text-align: center;
       line-height: 40px;
       border-radius: 50%;
       color: #ffffff;
       transition: all 0.5s ease;
       }
       footer .social-links a:hover{
       color: #24262b;
       background-color: #ffffff;
       }
      
      /*mobile layout*/
      @media only screen and (max-width:500px)
      {
          .container{
              display: grid;
          height: 100vh;
          grid-template-columns: 1fr;
          grid-template-rows: 1.6fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
      
          grid-template-areas:
          "home "
          "about "
          "certifications"
          "Experience"
          "project"
          "blog"
          "contact"
          "footer";
          grid-gap:0.5rem;
          }
          #mypicture{
            display:none;
          }
          footer{
            display:none;
          }
      }